<div ng-if="!user">
    User manquant ....
</div>

<md-card layout="column" ng-if="user && !isModeEdition">

    <div layout="row">
        <div flex="20">
            <img ng-src="{{user.photo}}" ng-if="user.photo" style="width: 100px; height: 100px;border-radius:30px"/>
        </div>

        <div flex layout="column">
            <span>{{user.name}}</span>
            <span>{{user.birthDate | momentFormat: 'DD MMM YYYY'}}</span>
        </div>
    </div>

    <div layout="row" layout-align="end end">
        <md-button ng-if="isEditable" ng-click="goToEdition()">
            <md-icon md-svg-src="material-design:edit"></md-icon>
            Editer
        </md-button>
    </div>
</md-card>

<md-card ng-if="user && isModeEdition">

    <div layout="row">

        <div flex="20">
            <img ng-src="{{user.photo}}" ng-if="user.photo" style="width: 100px; height: 100px;border-radius:30px"/>
        </div>

        <div flex layout="column">

            <md-input-container class="md-block">
                <label>Nom</label>
                <input required name="nom" ng-model="userEdit.name" />
            </md-input-container>

            <md-datepicker ng-model="userEdit.birthDate" md-placeholder="Enter date"></md-datepicker>
        </div>
    </div>



    <div layout="row" layout-align="end end">
        <md-button ng-click="goToEdition()">
            <md-icon md-svg-src="material-design:remove"></md-icon>
            Annuler
        </md-button>
        <md-button ng-click="valid(userEdit)">
            <md-icon md-svg-src="material-design:done"></md-icon>
            Valider
        </md-button>
    </div>
</md-card>

