.blue-font{
    color: #194B90;
}
.warn-font{
    color: #d32f2f !important;
}
.success-font{
    color: rgb(118,194,175); !important;
}
.demo-font{
    color: #76c2af !important;
}
.demo-bg-color {
    background: #76c2af !important;
}

h3.formTitle{
    font-weight: 200;
    color:#194B90;
    border-bottom: 1px solid #194B90;
}

h2.title{
    font-weight:200;
    border-bottom: 1px double #ddd;
    font-size: 1.17em;
}

h4.title{
    font-weight:200;
    border-top: 1px dashed rgba(0,0,0,0.1);
    font-size: 1em;
    width:100%
}

em.homeList {
    font-size: 0.9em;
    color:#555;
    margin-left: 10px;
}

/**
* DEMO PAGE
**/
div.demo-toolbar{
    background: #76c2af;
    color: white;
    max-height: 60px;
    padding-left:20px;
    padding-right:20px;
}

div.demo-toolbar h1{
    padding-left: 20px;
    font-weight: 200;
}

div.demo-container, md-content.demo-container{
    box-shadow: 0px 0px 31px -6px rgba(0,0,0,0.55);
    overflow: auto;
    padding:20px;
}

div.demo-container input.demo{
    font-size: 0.9em;
    border : none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    outline: 0;
    background: transparent;

}
.ace_editor { height: 400px; width:500px; }
