<form id        =   "myJsonEditor"
      name      =   "myForm"
      novalidate
      layout    =   "column"
      ng-submit =   "myForm.$valid && !editorError && !eerror.length && actions.valid(currentJson)"
      ng-style  =   "{'min-height' : currentHeight, 'max-height' : currentHeight}"
      style="overflow-y: hidden;overflow-x: hidden">

    <!-- FORM CONTENT -->
    <div flex
         layout     =   "column"
         style      =   "overflow-y:auto;overflow-x: hidden;"
         ng-style   =   "{'min-height' : maxHeightContainer , 'max-height' : maxHeightContainer}">

        <div layout="column" flex ng-if="aceAvailable">

            <h2 class="title">Editeur JSON </h2>

            <div ui-ace="aceOption" ng-model="aceModel" style="width: 100%" ng-style = "{'max-height' : aceMaxHeight }"></div>

        </div>

    </div>

    <!-- BOUTON ACTIONS -->
    <div layout="row" layout-align="start center" class="shadow_up" >

        <div ng-if="errors.length || editorError" layout="row" class="warn-font" style="font-size: 0.9em">

            <md-icon md-svg-src="material-design:error_outline" class="ic_16px warn-font"></md-icon>

            <span ng-if="errors.length" ng-repeat="error in errors">{{error}}</span>

            <span ng-if="editorError" style="margin-left: 10px;">{{editorError}}</span>

        </div>

        <div flex></div>

        <md-button type="submit" aria-label="test" ng-disabled="editorError || errors.length">
            <md-icon md-svg-src="material-design:done"></md-icon>
            <span style="font-weight:200">Valider</span>
        </md-button>

    </div>

</form>